@import './variables.scss';

.action-button {
  background-color: $primary-color;
  width: 100%; 
  max-width: 25rem; 
  padding: 2rem;
  border-radius: 10rem;
  border: none;
  font-size: $text-size;
  color: $light-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &:hover {
    background-color: $primary-dark;
    box-shadow: 6px 7px 15px 5px rgba(0, 0, 0, 0.1);
  }
}
