/* App.css */
:root {
    --primary-color: #dc3545; /* Defina sua nova cor primária aqui */
    --bs-primary-rgb: #dc3545;
    --bs-primary: #dc3545;
    --bs-primary-rgb: red;
  }
  
  
  /* Exemplo de aplicação da nova cor primária */
  .nav-item:hover .nav-link {
    border-bottom: 2px solid var(--primary-color); /* Use a variável CSS para a cor primária */
  }
  
  /* Outros estilos podem ser definidos aqui */
  